
body {
  background-color:cornflowerblue;
  color: rgb(87, 250, 250);
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 100px;
}

button {
  border: 1px solid red;
  background-color:cornflowerblue;
  color: rgb(219, 241, 255);
  text-align: center;
  padding: 2px;
}

input {
  padding: 10px;
  border: 1px solid red;

}

#task {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

:checked + label {
  text-decoration: line-through;
  color: rgb(50, 0, 231);
}
